// .aritice
// {
//     justify-content: space-between;
//     align-items: center;
//     display: flex;
//     margin: 10px;
//     border-bottom: 1px solid black;
//     padding-bottom: 10px;
//     img{
//         width: 50px;
//     }
//     .phone{
//         color: red;
//         font-size: 16px;
//     }
//     .address{
//         color: red;
//         font-size: 16px;
//     }
//     .contacts{
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         width: 190px;
//         .home{
//             margin: auto;
//             background: rgb(0, 0, 0);
//             color: white;
//             padding: 10px ;
//             border-radius: 10px;
//         }
//         .about{
//             padding: 10px;
//         }
//     }
// }
// .overbox{
//     display: flex;
//     color: white;
// }
// .Lorem{
//     width: 600px;
//     padding-top: 20px;
//     color: rgba(255, 255, 255, 0.493);
// }
// .Quick-link{
//     padding-bottom: 20px ;
//     border-bottom: solid rgba(255, 255, 255, 0.493) 1px;
//     font-size: 20px ;
//     font-weight: bold;
// }
// .about{
//     padding-bottom: 20px;
//     border-bottom: solid rgba(255, 255, 255, 0.493) 1px;
//     font-size: 20px ;
//     font-weight: bold;
// }
// .card {
//   &-left{
//       width: 600px;
//       background-color: black;
//       padding: 20px;
// }
//   &-right{
//       width: auto;
//       background-color: black;
//       padding: 20px;
//       padding-left: 30px;
// }
//   &-right-under{
//       display: flex;
//     //   justify-content: center;
//     //   align-items: center;
// }
//   &-right-under-left{
//       list-style: none;
//       padding-top: 20px;
//       color: rgba(255, 255, 255, 0.493);
// }
//   &-right-under-right{
//       list-style: none;
//       padding-left: 60px;
//       padding-top: 20px;
//       color: rgba(255, 255, 255, 0.493);
// }
// }
.readmore{
    margin-left: auto;
    color: white;
    font-weight: bold;
    background-color: black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    width: 100px;
    margin-right: 40px;
}
img{
    border-radius: 20px;
    width: 200px;
    height: 200px;
    margin: 20px;
}
h2{
    padding-top: 35px;
    padding-bottom: 20px;
}
.box {
  &-over{
display: flex;
justify-content: center;
align-items: center;
background-color:rgba(0, 0, 0, 0.253);
padding-top: 100px;
padding-bottom: 100px;
padding-left: 300px;
padding-right: 300px;
}
}
.card {
  &-inside{
      display: flex;
      justify-content: center;
    //   align-items: center;
      background-color: white;
      padding: 20px;
      border-radius: 20px;
}
  &-inside-right{
      padding-left: 15px;
}
  &-inside-bottom{
      display: flex;
    //   justify-content: center;
      align-items: center;
      padding-left: 50px;
      padding-top: 20px;
}
  &-inside-bottom-1{
      width: 50px;
      height: 10px;
      background-color: black;
      border-radius: 20px;
      margin: 5px;
}
  &-inside-bottom-2{
    width: 50px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.267);
    border-radius: 20px;
    margin: 5;
}
  &-inside-bottom-3{
    width: 50px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.267);
    border-radius: 20px;
    margin: 5px;
}
}